<h1 align="center">About page</h1>

<p align="left">This is a private site dedicated to everything to do with offroading.  It is a technical site and is not intended for personal discussions (I leave that to Facebook).  Everything in this site is the property of 689860 NB Ltd, and nothing can be used without explicit written permission.</p>

<p align="left">If you would like access to this site please send an email to <a href="mailto:689860nb@gmail.com">689860 NB Ltd</a> stating who your are and why you would like access to the site.  No law enforcement or government employees may use this site, except for their own personal use.  By signing into the site you are agreeing to abide by these use rules.  Any violation of the usage rules will result in you being banned from the site.</p>
