<div class="center jumbotron">
  <h1>Welcome to Area 62
    <p>Everything Offroad</p>
    <p>By signing into this site you are confirming that you have read the About information, and agree to abide by the site rules.</p></h1>
</div>